<link rel="apple-touch-icon" sizes="180x180" href="https://mayankvikash.in/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://mayankvikash.in/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://mayankvikash.in/img/favicon/favicon-16x16.png">
<link rel="manifest" href="https://mayankvikash.in/img/favicon/site.webmanifest">

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-RNF0QCMT2V"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-RNF0QCMT2V');
</script>

<meta property="og:image" content=" {{ page.cover }} " />
