<link rel="apple-touch-icon" sizes="180x180" href="https://mayankvikash.in/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://mayankvikash.in/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://mayankvikash.in/img/favicon/favicon-16x16.png">
<link rel="manifest" href="https://mayankvikash.in/img/favicon/site.webmanifest">

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-RNF0QCMT2V"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-RNF0QCMT2V');
</script>

<meta property="og:image" content=" {{ page.cover }} " />


<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@MayankVikash1">
<meta name="twitter:creator" content="@MayankVikash1">
<meta name="twitter:image" content="{{ page.cover }}">


<!--
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7995343979098668"
     crossorigin="anonymous"></script>
-->


<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebSite",
      "url": "https://mayankvikash.in/",
      "potentialAction": {
        "@type": "SearchAction",
        "target": {
          "@type": "EntryPoint",
          "urlTemplate": "https://mayankvikash.in/search?q={search_term_string}"
        },
        "query-input": "required name=search_term_string"
      }
    }
    </script>
